<h1>Listing purchases</h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Amount</th>
      <th>Sendername</th>
      <th>Senderemail</th>
      <th>Recipientname</th>
      <th>Recipientemail</th>
      <th>Message</th>
      <th>Status</th>
      <th>Vendor</th>
      <th>Completed</th>
      <th>Confirmedpayment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.identifier %></td>
        <td><%= purchase.amount %></td>
        <td><%= purchase.senderName %></td>
        <td><%= purchase.senderEmail %></td>
        <td><%= purchase.recipientName %></td>
        <td><%= purchase.recipientEmail %></td>
        <td><%= purchase.message %></td>
        <td><%= purchase.status %></td>
        <td><%= purchase.vendor %></td>
        <td><%= purchase.completed %></td>
        <td><%= purchase.confirmedPayment %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
