<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gift.title %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @gift.completed %>
</p>

<p>
  <strong>From:</strong>
  <%= @gift.lowerAmount %>
</p>

<p>
  <strong>To:</strong>
  <%= @gift.higherAmount %>
</p>

<p>
  <strong>Redeem:</strong>
  <%= @gift.redeem %>
</p>

<p>
  <strong>Expiry:</strong>
  <%= @gift.expiry %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @gift.delivery %>
</p>

<p>
  <strong>Short:</strong>
  <%= @gift.shortDescription %>
</p>

<p>
  <strong>Full:</strong>
  <%= @gift.fullDescription %>
</p>

<p>
  <strong>Note:</strong>
  <%= @gift.note %>
</p>

<p>
  <strong>url:</strong>
  <%= @gift.image_url %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @gift.image.url %>
</p>


<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
